[submodule "count-vowels-consonants"]
	path = count-vowels-consonants
	url = git@gitlab.codesaga.com.br:Starry/count-vowels-consonants
[submodule "calculator"]
	path = calculator
	url = git@gitlab.codesaga.com.br:Starry/calculator
